N8N Fluxo - 1.json
{
  "name": "N8N Fluxo - 1",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Você é um agente de IA que ajudará o usuário no seu dia a dia tirando suas dúvidas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -592,
        -720
      ],
      "id": "d9e13952-f151-420a-adfc-60cac642b4b6",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        -512
      ],
      "id": "d5fc2cf2-6e61-4aac-8e86-85eeca19b851",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        -512
      ],
      "id": "ffd6ae62-fcec-4825-9637-034f13002441",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ViATynOpKFgfoPzS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c377c043-b40a-4c7c-840d-931c6c3df224",
              "name": "response",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        -128
      ],
      "id": "f00b2c8d-dd7e-4ce6-93ad-2b3b4f8b134f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1648,
        -128
      ],
      "id": "b28d1c84-7b6d-470b-9ab7-731c532857b0",
      "name": "When chat message received",
      "webhookId": "08e62918-e1c6-4be0-99bf-af894eb4624a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response }}",
                    "rightValue": "Tirar dúvidas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc152497-3d14-410e-97be-9283deccae7c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1040,
        -128
      ],
      "id": "cdd2c411-b7cf-44e0-bd30-37e1a37a7c47",
      "name": "Switch"
    },
    {
      "parameters": {
        "message": "👋 Olá! Eu sou seu assistente de IA, pronto para te ajudar.\nEscolha uma opção abaixo:\n\n- ❓ Tirar dúvidas\n- 📅 Marcar reunião\n- 📊 Gerar relatório de insights\n- 📝 Anotar lembrete\n- 🔔 Enviar notificação\n- 📧 Enviar e-mail",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1408,
        -128
      ],
      "id": "1c51015e-5812-4eeb-aba2-c0f05b1614c0",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "message": "Muito bem! Qual é a sua dúvida?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -800,
        -720
      ],
      "id": "dbc845fb-11a2-4450-b34b-a3d41c8d3a35",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -288,
        -720
      ],
      "id": "312f66cf-8d46-4251-8688-d6b200048e4c",
      "name": "Respond to Chat2"
    },
    {
      "parameters": {
        "content": "## Início do fluxo ",
        "height": 288,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -224
      ],
      "typeVersion": 1,
      "id": "89109483-2874-49ca-ae3c-2f1ac11e9ef9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tirar Dúvidas\n",
        "height": 448,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -816
      ],
      "typeVersion": 1,
      "id": "469adc74-5341-4275-9a41-45fe3868221e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b55c727-aec1-4e75-91cb-789432b5d206",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "921c0810a445ee3dafb1c8ea6bd9c347a567905d4af175ad41853c06a9dff8e1"
  },
  "id": "yy5BDVi9FtznSiiW",
  "tags": [
    {
      "createdAt": "2025-09-09T14:44:54.488Z",
      "updatedAt": "2025-09-09T14:44:54.488Z",
      "id": "tsGPB9yB77RKYevm",
      "name": "Assistente"
    }
  ]
}